data
onnx
result
#trocr_base_printed
#trocr_small_printed
*.bin
#*.json
*.model
*.png
.idea
.ipynb_checkpoints
#model
*.bin
*.onnx
*.ckpt
*.safetensors
__pycache__/
*.vocab
datas
runs
wandb
tools/*.txt
